.plan {
  background-color: whitesmoke;
  margin: 50px;
  margin-bottom: 0px;
  display: inline-block;
  /* border: 0.2vw solid gray; */
  color: black;
  border: 5px solid;
  border-image: linear-gradient(
    to bottom,
    rgb(151, 232, 254),
    rgb(218, 155, 255)
  );
  border-image-slice: 1;
}

.plan .Detail {
  margin: 5px;
  width: 600px;
  background-color: white;
  border: 2px solid rgb(218, 155, 255);
}

.plan .deleteButton {
  display: flex;
  border: none;
  color: red;
  font-size: 15px;
  font-weight: bold;
  background-color: whitesmoke;
  float: right;
  margin: 6px;
  margin-top: 0px;
  margin-bottom: 10px;
  cursor: pointer;
}

.plan .day {
  margin-top: 6px;
  margin-left: 8px;
  margin-bottom: 0px;
  font-size: 20px;
  color: black;
}

.plan .Detail .word {
  margin: 10px;
  word-break: break-word;
  font-size: 20px;
}

.showScheduleBackground .showListMarginBottom {
  height: 4vh;
}

.showScheduleBackground {
  color: white;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: #262626;
  min-height: 92vh;
  /* width: 100vw; */
}

.centerShow {
  display: flex;
  justify-content: center;
}
