* {
    margin: 0;
    padding: 0;
}

.roll {
    background: linear-gradient(to bottom right, #953dcf, #125caf);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #fff;
    min-width: 350px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}

.titleR {
    color: #953dcf;
    text-align: center;
    margin: 80px 0px 80px 0px;
}

.uBtnS {
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 25px;
    color: white;
    padding: 10px 60px;
    background: linear-gradient(to right, #953dcf, #125caf);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 12px 15px;
    margin: auto;
    outline: none;
    cursor: pointer;
    transition: all 0.1s;
    margin-top: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
