/* 92.1 */
.emptyPage_background {
    background: linear-gradient(to top left, #125caf, #953dcf);
    padding: 0;
    border: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 55.1vh;
}

.cat404 {
    width: 20vw;
    height: 20vw;
    padding: 5vw;
    padding-left: 0px;
}

.emptyMessage {
    padding-top: 5vw;
    width: 15vw;
    height: 15vw;
}

.showDevelopersScreen {
    min-height: 37.3vh;
    background-color: #262626;
}

.showDevelopersScreen .DeveloperScreenToCenter {
    display: flex;
    justify-content: center;
}

.showDevelopersScreen .DeveloperScreenToCenter .showDevelopers {
    color: white;
    padding: 3vh;
    padding-bottom: 0px;
}

.showDevelopersScreen .showDevelopers .DevelopmentPart {
    /* border-bottom: 3px solid white; */
    font-size: 3vh;
}

.showDevelopersScreen .showDevelopers .developer {
    font-size: 2vh;
    margin-top: 2vh;
}

.showDevelopersScreen .showProjectInfo {
    padding-top: 2vh;
    padding-bottom: 0px;
    margin: 4vh;
    margin-top: 10vh;
    margin-bottom: 0px;
    border-top: 0.3vh solid gray;
    display: flex;
    justify-content: space-between;
}
.showDevelopersScreen .showProjectInfo .projectName {
    font-size: 2.5vh;
    color: white;
}

.showDevelopersScreen .showProjectInfo .githubIcon {
    width: 4vh;
}
