.rollCallWindow {
  background-color: whitesmoke;

  border: 10px solid;
  border-image: linear-gradient(
    to bottom,
    rgb(151, 232, 254),
    rgb(218, 155, 255)
  );
  border-image-slice: 1;
  height: 150px;
  width: 400px;
  margin-top: 25vh;
  padding: 30px;
}

.rollCallToCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.printToday {
  margin-top: 0px;
  margin-bottom: 50px;
  color: rgb(151, 232, 254);
}

.rollCallWindow .memberList {
  background-color: whitesmoke;
  border: none;
  width: 150px;
  font-size: 20px;
}

.rollCallWindow .checkSendBetton {
  border: none;
  background-color: whitesmoke;
  color: rgb(218, 155, 255);
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
